# General
APP_NAME=sgd-oftalmi
APP_ENV=development
DEBUG=True
SECRET_KEY=change-me

# Django
DJANGO_SETTINGS_MODULE=config.settings.dev
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=sgd_oftalmi
POSTGRES_USER=sgd_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Storage
MEDIA_ROOT=/storage/media
STATIC_ROOT=/app/staticfiles
MEDIA_URL=/media/
STATIC_URL=/static/

# Email
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=
